*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100%;
}
.navbar li a{
  display: block;
  text-decoration: none;
  padding: 16px;
  color: black;
}
.navbar li a:hover{
  background-color: gray;
  color: #fff;
}

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}